@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 10;
    overflow: hidden;
}

body{
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    overflow: scroll;
}