@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin-top: 10%;
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.website-banner{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    z-index: 10;
    overflow: scroll;
    background-color: #919191;
    h1{
        position: fixed;
        width: 100%;
        display: flex;
        color: green;
        justify-content: center;
        align-items: center;
        z-index: 10;
        height: 5%;
        font-size: small;
        text-align: center;
    }
    img{
        width: 50%;
        height: 5%;
        position: fixed;
        z-index: 8;
        top: 0;
        left: 25%;
        right: 25%;
        justify-content: center;
        align-items: center;
    }
}