@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: #d6f1f6;
}

main :any-link{
        color:darkgreen;
        text-decoration: underline;
}

.website-banner{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    z-index: 10;
    overflow: scroll;
    background-color: #919191;
    h1{
        position: fixed;
        width: 100%;
        display: flex;
        color: green;
        justify-content: center;
        align-items: center;
        z-index: 10;
        height: 5%;
        text-align: center;
        font-size: clamp(0.5rem, 2vw + 0.5vh, 3vw);
    }
    img{
        width: 50%;
        height: 5%;
        position: fixed;
        z-index: 8;
        top: 0;
        left: 25%;
        right: 25%;
        justify-content: center;
        align-items: center;
    }
    #login-links{
    position: fixed;
    display: flex;
    font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    justify-content: center;
    align-items: center;
    z-index: 10;
    right: 0;
    top: 0;
    }
    #game-creation-link{
    position: fixed;
    display: flex;
    font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 0;
    top: 0;
    }
}

footer{
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 10;
    height: 5%;
    font-size: clamp(0.5rem, 1.5vw, 3vw);
    color: blue;
    p{
        position: fixed;
        display: flex;
        right: 85%;
    }
    a{
        position: fixed;
        display: flex;
        left: 82%;
        color: blue;
        text-decoration: underline;
    }
}

:invalid{
    background-color: #ee5959;
}