@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "tailwindcss/preflight";

@tailwind utilities;

body{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: #d6f1f6;
    font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    h2{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        font-weight: bold;
    }
    a{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    }
    NavLink{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    }
    td{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    }
    th{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
    }
    p{
        font-size: clamp(0.1rem, 0.75vw + 0.33vh, 2vw);
    }
}

main :any-link{
        color:darkgreen;
        text-decoration: underline;
}

.website-banner{
    position: fixed;
    top: 0;
    height: 5%;
    z-index: 10;
    background-color: #919191;
    left: 0%;
    right: 0%;
    h1{
        position: fixed;
        display: flex;
        color: green;
        justify-content: center;
        align-items: center;
        z-index: 10;
        height: 5%;
        text-align: center;
        font-size: clamp(0.5rem, 2vw + 0.5vh, 3vw);
        left: 35%;
        right: 35%;
    }
    img{
        width: 50%;
        height: 5%;
        position: fixed;
        z-index: 8;
        top: 0;
        left: 25%;
        right: 25%;
        justify-content: center;
        align-items: center;
    }
    #login-link{
        width: 15%;
        position: fixed;
        display: flex;
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        justify-content: center;
        align-items: center;
        z-index: 10;
        right: 0;
        top: 0;
    }
    #login-links{
        width: 15%;
        position: fixed;
        display: flex;
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        justify-content: center;
        align-items: center;
        z-index: 10;
        right: 0;
        top: 0;
    }
    #game-creation-link{
        width: 15%;
        position: fixed;
        display: flex;
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        justify-content: center;
        align-items: center;
        z-index: 10;
        left: 0;
        top: 0;
    }
    #return-home-link{
        width: 15%;
        position: fixed;
        display: flex;
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        justify-content: center;
        align-items: center;
        z-index: 10;
        left: 0;
        top: 0;
    }
}

footer{
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 10;
    height: 5%;
    font-size: clamp(0.5rem, 1.5vw, 3vw);
    color: blue;
    p{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        position: fixed;
        display: flex;
        right: 85%;
    }
    a{
        font-size: clamp(0.1rem, 1vw + 0.5vh, 2vw);
        position: fixed;
        display: flex;
        left: 82%;
        color: blue;
        text-decoration: underline;
    }
}

input{
    border: solid black;
}

input:invalid{
    border: solid red;
}

label{
    font-size: clamp(0.1rem, 0.5vw + 0.25vh, 2vw);
}

textarea:invalid{
    border: solid red;
}

div:valid{
    border: solid green;
}